body{
    text-align: center;
    background-color: #00cec9;
}
#header{
    padding: 10px;
    

}
#header{
    font-family: cursive;
}
input{
    padding: 10px;
    border-radius: 5px;
}
select{
    padding: 10px;
    border-radius: 5px;
    width: 13%;

}
#login{
    padding: 5px;
    border-radius: 5px;
    background-color :greenyellow;
    
}